<div class="dashboard">
  <div class="chart-container">
    <heart-rate-summary></heart-rate-summary>
  </div>
  <div class="chart-container">
    <cadence-summary></cadence-summary>
  </div>
  <div class="chart-container">
    <heart-rate-summary></heart-rate-summary>
  </div>
  <div class="chart-container">
    <heart-rate-summary></heart-rate-summary>
  </div>
  <div class="chart-container">
    <heart-rate-summary></heart-rate-summary>
  </div>
  <div class="chart-container">
    <heart-rate-summary></heart-rate-summary>
  </div>
</div>